header {
	  padding: 60px;
	  text-align: center;
	  background: rgba(0,0,0,0.5);
	  color: white;
	  font-size: 30px;
	  width: 100%;
}

a.nav-link {
	color: white;
}

a.nav-link:hover {
	color: #00e7ff85;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0rem !Important; 
    padding-left: 0rem !important; }

.navbar-brand {
	margin-right: 0rem !important;

}

.iframe{
	display: inherit;
	height: -webkit-fill-available;
}

body { 
		background-color: lightblue;
}

section {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
}

body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

a:link {
	font-size: 1.8rem !important;
	color: white;
}

.nav-link dropdown-toggle {
	color: red !important;
}

.navbar-light .navbar-nav .nav-link{
	color: white !important;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #00e7ff85 !important;
}

.navbar-brand{
	color: white !important;
}

.navbar-brand:hover{
	color: #00e7ff85 !important;
}

.navbar-brand:visited{
	color: white;	
}


a {
	color: white !important;
}

a:hover {
	color: #00e7ff85 !important;
}

.bg {
	background-image:url("images/background_image.jpg");
	width: 100%;
	/* height: 1500px; */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}



#container{
		height: 300px;
        min-height: 300px;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-flow: row;
}

   #container > .column-left {
        margin: 4px;
        padding: 5px;
        border: 3px outset #03ffea;
        border-radius: 7pt;
        flex: 3 1 33%;
        order: 2;
		background-image: url(Images/IMG-8.jpg);
		background-size: cover;
    }

    #container> .column-center {
        margin: 4px;
        padding: 5px;
        border: 3px outset #03ffea;
        border-radius: 0pt 7pt 7pt 0pt;
        flex: 1 6 33%;
        order: 1;
		background-image: url(Images/IMG-7.jpg);
		background-size: cover;
    }
  
    #container > .column-right {
        margin: 4px;
        padding: 5px;
        border: 3px outset #03ffea;
        border-radius: 7pt 0pt 0pt 7pt;
        flex: 1 6 33%;
        order: 3;
		background-image: url(Images/IMG-10.jpg);
		background-size: cover;
    }
	
	#column-left-link {
		color: white; 
		position: absolute; 
		top: 58%; 
		left: 15%; 
		transform: translate(-50%, -50%);
	}
	
	#column-left-link:hover{
		color: #00e7ff85;
	}
	
	#column-center-link {
		color: white; 
		position: absolute; 
		top: 58%; 
		left: 50%; 
		transform: translate(-50%, -50%);
	}
	
	#column-center-link:hover{
		color: #00e7ff85;
	}
	
	#column-right-link {
		color: white; 
		position: absolute; 
		top: 58%; 
		left: 85%; 
		transform: translate(-50%, -50%);
	}
	
	#column-right-link:hover{
		color: #00e7ff85;
	}
	
    @media all and (max-width: 640px) {
		
		.bg {
			height: auto;
			background-position: center;
		}
		
		header {
			height: 110px;
			padding: 0px;
		}
		
		#container {
			height: 250px;
			margin: 1% 0% 0% 0%;
		}
		
		#container, #page {
            flex-direction: column;
        }

        #container > .column-left, #container > .column-center, #container > .column-right {
            order: 0;
        }

		#column-left-link{
			top: 45%;
			left: 50%;
		}
		
		#column-center-link{
			top: 63%;
			left: 50%;
		}
		
		#column-right-link{
			top: 81%;
			left: 50%;
		}
		
		.footer {
			height: 9% !important;
		}
		
	}
	
	@media all and (max-width: 300px) {
		header {
			height: 90px;
			padding: 0px;
		}
		
		#column-left-link{
			top: 29%;
		}
		
		#column-center-link{
			top: 42%;
		}
		
		#column-right-link{
			top: 55%;
		}
	}
	
	
div.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#section1 {
  height: 520px;
}

#section2 {
  height: 600px;
  margin: 25% 0% 0% 0%;
}

.image-head {
		height: 800px;
		width: 500px;
		padding: 10px;
}

.footer {
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  height: 4%;
	  background-color: #4a4a4a;
	  color: white;
	  text-align: center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .flex-parent {
    flex-direction: column;
  }
}

tr {
	background-color: darkorange;
}

th {
	background-color: darkorange;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item {
    position: relative;
    top: 90px;
    height: 400px;
    width: 25%;
    box-shadow: 0px 0px 2px 1px;
    text-align: center;
    background-color: white;
}